.card {
    background-color: rgba(99, 242, 252, 0.5); /* Color de fondo con opacidad */
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(255, 55, 55, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Para centrar el texto horizontalmente */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
    
    
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 1; /* Mantener la imagen completamente opaca */
}